
@{
    ViewBag.Title = "SendMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    int id = ViewBag.idObject;
    int userSendMsg = ViewBag.userSendMsg;
    int userDestMsg = ViewBag.userDestMsg;
    string subject = ViewBag.subject;
}

<html>
<body>
    <h2>Send a Message to user</h2>
    <p>
        Message to <b>@ViewBag.userNameDest</b> from <b>@ViewBag.userNameSend</b>
    <p>
        Object: <b>@ViewBag.titleObject</b>
    <p>
        <form id="formMessage" action="/UsersContact/SendMessage2" method="post">
            <table>
                    <tr>
                        <td>
                            @Html.Hidden("id", id)
                            @Html.Hidden("userSendMsg", userSendMsg)
                            @Html.Hidden("userDestMsg", userDestMsg)
                            @Html.Hidden("subject", subject)
                            Please, write your message<p></p>
                            <textarea id="textMessage" class="text" cols="46" rows="10" name="TextMessage"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>You are going to send a menssage <input id="menssageCheckUserLostObject" type="checkbox" required name="menssageCheckUserLostObject" value="checked"></p>
                            <p></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input id="submit" type="submit" value="Send Message" class="btn btn-success" />
                        </td>
                    </tr>
          </table>
    </form>

</body>
</html>
<script type="text/javascript" language="JavaScript">

</script>
