@model IEnumerable<object>
@{
    ViewBag.Title = "ShowMessages";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<ThingsLostAndFound.Models.UsersContactDontRegister> listUsersContactDontRegister = Model.ToList()[0] as List<ThingsLostAndFound.Models.UsersContactDontRegister>;
    List<ThingsLostAndFound.Models.UsersContactRegistered> listUsersContactRegistered = Model.ToList()[1] as List<ThingsLostAndFound.Models.UsersContactRegistered>;
}

<html>
    <body>
        <h2>Messages</h2>
        <p></p>
            <b>Support Messages: </b>
        <p></p>
        <table class="table">
            <tr>
                <td>
                    @Html.Label("Message")
                </td>
            </tr>
            <tr>
                <td>
                    @ViewBag.SupportMessages
                </td>
            </tr>
        </table>
        <p></p>
        <b>Messages from Dont Registered Users: </b>
        <p></p>
        <table class="table">
            <tr>
                <td>
                    @Html.Label("Message")
                </td>
                <td>
                    @Html.Label("Email User")
                </td>
                <td>
                    @Html.Label("Date Message")
                </td>
                <td>
                    @Html.Label("Object")
                </td>
            </tr>
            @foreach (var item in listUsersContactDontRegister)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Message1)
                    </td>
                    <td>
                        <a href="mailto: @item.UserEmailRequestLost">@item.UserEmailRequestLost</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateSendEmail)
                    </td>
                    <td>
                        @Html.ActionLink(item.FoundObject.Title, "Details", "FoundObjects", new { id = item.ObjectIdFound }, null)
                    </td>
                </tr>
                }
            </table>
            <p></p>
            <b>Messages from Registered Users: </b>
            <p></p>
            <table class="table">
                <tr>
                    <td>
                        @Html.Label("Message")
                    </td>
                    <td>
                        @Html.Label("From User")
                    </td>
                    <td>
                        @Html.Label("Date Message")
                    </td>
                    <td>
                        @Html.Label("Object")
                    </td>
                    <td>
                        @Html.Label("Answer")
                    </td>
                </tr>
                @foreach (var item in listUsersContactRegistered)
               {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Messages)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserIdRequestLost)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateSendEmail)
                        </td>
                        <td>
                            @Html.ActionLink(item.FoundObject.Title, "Details", "FoundObjects", new { id = item.ObjectIdFound }, null)
                        </td>
                        <td>
                            @Html.ActionLink("Answer", "Answer", "Messages", new { idObj = item.ObjectIdFound, idRequestLost = item.UserIdRequestLost }, null)
                        </td>
                    </tr>
                }
            </table>
</body>
</html>




