@model IEnumerable<ThingsLostAndFound.Models.LostObject>

@{
    ViewBag.Title = "SearchMatchesInLostObject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search Matches In Lost Object</h2>

@{
    int results = (int)ViewData["numberResults"];
    if (results == 0)
    {
        <p>
            Not Coincidences found
        </p>
    }
    else
    {
        <p>
            Coincidences found in the DB: @ViewData["numberResults"]
        </p>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Brand)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Model)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SerialID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Color)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Observations)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ZipCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MapLocation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LocationObservations)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CityTownRoad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Img)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.State)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactState)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InfoUser.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.File.FileName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SerialID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Observations)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ZipCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MapLocation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocationObservations)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CityTownRoad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Img)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContactState)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InfoUser.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.File.FileName)
                    </td>

                </tr>
            }

        </table>
    }
}

