@{
    ViewBag.Title = "Home Page";
}
<html>
<body>
    <div class="row">
        <div class="col-md-6 text-center" style="background-color:ThreeDShadow">
			<h2>LOST</h2>
			<p>
				Have you lost anything?
			</p>
			<h4>1- Search it</h4>
			<p><a class="btn btn-default" @Html.ActionLink("Search", "SearchFoundOrLostObject", "FindMatches", new { select = "lo" }, null)</a></p>
            <h4>2 - Login or Register</h4>
            <p><a class="btn btn-default" @Html.ActionLink("Log in", "Login", "Login")</a></p>
            <h4>3- Create a report</h4>
            <p><a class="btn btn-default" @Html.ActionLink("Lost Object Report", "Create", "LostObjects")</a></p>
        </div>
        
        <div class="col-md-6 text-center" style="background-color:greenyellow">
            <h2>FOUND</h2>
            <p>Have you found anything?</p>
            <h4>1- Check it in our DB</h4>
            <p><a class="btn btn-default" @Html.ActionLink("Search", "SearchFoundOrLostObject", "FindMatches", new { select = "fo" }, null)</a></p>
            <h4>2 - Login or Register</h4>
            <p><a class="btn btn-default" @Html.ActionLink("Log in", "Login", "Login")</a></p>
            <h4>3- Create a report</h4>
            <p><a class="btn btn-default" @Html.ActionLink("Found Object Report", "Create", "FoundObjects")</a></p>
        </div>
    </div>
</body>
</html>