<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ThingsLostAndFound</title>
    <link href="~/Content/Images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("ThingsLostAndFound", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                        <li>@Html.ActionLink("Search", "SearchFoundOrLostObject", "FindMatches")</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lost Object <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Lost Object List", "Index", "LostObjects")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Lost Object Report", "Create", "LostObjects")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Lost Object Map", "MapLostObjects", "MapObjects")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Found Object <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Found Object List", "Index", "FoundObjects")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Found Object Report", "Create", "FoundObjects")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Found Object Map", "MapFoundObjects", "MapObjects")</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Objects Map", "MapFoundAndLostObjects", "MapObjects")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>

        <div class="container body-content">
            <div class="row content">
                <div class="col-md-1">
                    @Html.Partial("~/Views/PartialViews/_leftSide.cshtml")
                </div>
                <div class="col-md-10">
                    @RenderBody()
                    <br />
                </div>
                <div class="col-md-1">
                    @Html.Partial("~/Views/PartialViews/_rightSide.cshtml")
                </div>
            </div>
            <footer>
                <p>&copy; @DateTime.Now.Year - ThingsLostAndFound</p>
            </footer>
        </div>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
</body>
</html>
