@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    HttpCookie authCookie = Request.Cookies[FormsAuthentication.FormsCookieName];
    FormsAuthenticationTicket ticket = FormsAuthentication.Decrypt(authCookie.Value);
    string infoUserIdRol = ticket.UserData.ToString();
    int userId = Int32.Parse(infoUserIdRol.Substring(0, infoUserIdRol.IndexOf("|")));
    if (userId == 1)
    {
        <ul class="nav navbar-nav navbar-right">
            <li>User: @Html.Encode(User.Identity.Name) </li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            <li>@Html.ActionLink("Add User", "AddUser", "InfoUsers")</li>
            <li>@Html.ActionLink("User List", "Index", "InfoUsers")</li>
            <li>@Html.ActionLink("Sign Out", "Logout", "Login")</li>
        </ul>
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li>User: @Html.Encode(User.Identity.Name) </li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            <li>@Html.ActionLink("Sign Out", "Logout", "Login")</li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        <li>@Html.ActionLink("Register", "Create", "InfoUsers")</li>
        <li>@Html.ActionLink("Log in", "Login", "Login")</li>
    </ul>
 }
