@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    HttpCookie authCookie = Request.Cookies[FormsAuthentication.FormsCookieName];
    FormsAuthenticationTicket ticket = FormsAuthentication.Decrypt(authCookie.Value);
    string infoUserIdRolNewM = ticket.UserData.ToString();
    int userId = Int32.Parse(infoUserIdRolNewM.Substring(0, infoUserIdRolNewM.IndexOf("|")));
    int roll = Int32.Parse(infoUserIdRolNewM.Substring((infoUserIdRolNewM.IndexOf("|")) + 1, (infoUserIdRolNewM.IndexOf("||") - infoUserIdRolNewM.IndexOf("|") - 1)));
    bool newMessage = bool.Parse(infoUserIdRolNewM.Substring((infoUserIdRolNewM.IndexOf("||")) + 2, ((infoUserIdRolNewM.Length) - (infoUserIdRolNewM.IndexOf("||") + 2))));
    if (roll == 1)
    {
        <ul class="nav navbar-nav navbar-right">
            @{
                if (newMessage == true)
                {
                    <li><a href="~/Messages/ShowMessages/@userId" style="height:3px;width:50px;"><img src="~/Content/Images/newMsg.png" alt="No Img" height="25" width="35" /></a></li>
                }
            }
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello @User.Identity.GetUserName() <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Info User", "Details", "InfoUsers", new { id = userId }, null) </li>
                    <li role="separator" class="divider"></li>
                    <li>@Html.ActionLink("My Objects", "ShowObjects", "ShowObjectUsers", new { id = userId }, null)</li>
                    <li role="separator" class="divider"></li>
                    <li>@Html.ActionLink("User List", "Index", "InfoUsers")</li>
                    <li role="separator" class="divider"></li>
                    <li>@Html.ActionLink("Add User", "AddUser", "InfoUsers")</li>
                    <li role="separator" class="divider"></li>
                    <li>@Html.ActionLink("Control Panel", "Settings", "ControlPanel")</li>
                    <li role="separator" class="divider"></li>
                    @{
                        if (newMessage == true)
                        {
                            <li>@Html.ActionLink("Messages", "ShowMessages", "Messages", new { id = userId }, new { @style = "color:#FF4500;" })</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Messages", "ShowMessages", "Messages", new { id = userId }, null)</li>
                        }
                    }
                </ul>
            </li>  
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            <li>@Html.ActionLink("Sign Out", "Logout", "Login")</li>
        </ul>
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            @{
                if (newMessage == true)
                {
                    <li><a href="~/Messages/ShowMessages/@userId" style="height:3px;width:50px;"><img src="~/Content/Images/newMsg.png" alt="No Img" height="25" width="35" /></a></li>
                }
            }
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello @User.Identity.GetUserName() <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Info User", "Details", "InfoUsers", new { id = userId }, null) </li>
                    <li role="separator" class="divider"></li>
                    <li>@Html.ActionLink("My Objects", "ShowObjects", "ShowObjectUsers", new { id = userId }, null)</li>
                    <li role="separator" class="divider"></li>
                    @{
                        if (newMessage == true)
                        {
                            <li>@Html.ActionLink("Messages", "ShowMessages", "Messages", new { id = userId }, new { @style = "color:#FF4500;" })</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Messages", "ShowMessages", "Messages", new { id = userId }, null)</li>
                        }
                    }
                </ul>
            </li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            <li>@Html.ActionLink("Sign Out", "Logout", "Login")</li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        <li>@Html.ActionLink("Register", "Create", "InfoUsers")</li>
        <li>@Html.ActionLink("Log in", "Login", "Login")</li>
    </ul>
 }
