@model IEnumerable<ThingsLostAndFound.Models.LostObject>

@{
    ViewBag.Title = "Index";
}

<html>
<body>
    <h3>Lost Objects List</h3>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
                @*Date Lost Object*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityTownRoad)
            </th>
            <th>
                Picture
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InfoUser.UserName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @{
                        if (item.Color != null)
                        {
                            <span style="background: @Html.DisplayFor(modelItem => item.Color) " class="form-control">&nbsp;&nbsp;&nbsp;</span>
                        }
                        else
                        {
                            <span style="background: rgba(0, 0, 0, 0.00) " class="form-control">&nbsp;&nbsp;&nbsp;</span>
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZipCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CityTownRoad)
                </td>
                <td>
                    @if (item.Img == true)
                    {
                        <img src="~/File?id=@item.FileId" alt="No Img" class="img-thumbnail" height="62" width="95" /> @*the File controller give the file(picture) from DB using Id*@
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InfoUser.UserName)
                </td>
                <td>
                    @Html.ActionLink("Contact", "ContactUserLostObject", "UsersContact", new { id = item.Id, title = item.Title, userName = item.InfoUser.UserName }, null)
                    <p></p>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                    @if (Request.IsAuthenticated)
                {  /* TODO: checked if the user created this object*/
                    HttpCookie authCookie = Request.Cookies[FormsAuthentication.FormsCookieName];
                    FormsAuthenticationTicket ticket = FormsAuthentication.Decrypt(authCookie.Value);
                    string infoUserIdRolNewM = ticket.UserData.ToString();
                    int userId = Int32.Parse(infoUserIdRolNewM.Substring(0, infoUserIdRolNewM.IndexOf("|")));
                    int roll = Int32.Parse(infoUserIdRolNewM.Substring((infoUserIdRolNewM.IndexOf("|")) + 1, (infoUserIdRolNewM.IndexOf("||") - infoUserIdRolNewM.IndexOf("|") - 1)));
                    if ((userId == item.InfoUser.Id) || (roll == 1))
                    {
                            <p></p>
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            <p></p>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        }
                    }
                </td>
            </tr>
                        }

    </table>
</body>
</html>




